<ng-container>
    <mat-card class="mat-dialog-modal-header-card" style="height:60px;">
        <mat-card-title class="mat-card-title ">
            <h4>SignUp</h4>
        </mat-card-title>
    </mat-card><br>
    <mat-dialog-content>
        <form [formGroup]="registrationForm" class="example-form">
            <div class="row">
                <div class="col-6"> <mat-form-field class="example-full-width" >
                        <mat-label>First Name</mat-label>
                        <input type="name" matInput placeholder="Please enter your first name" formControlName="first_name" required>
                        <mat-icon matSuffix>account_circle</mat-icon>
                    </mat-form-field></div>
                <div class="col-6"> <mat-form-field class="example-full-width">
                        <mat-label>Last Name</mat-label>
                        <input type="name" matInput placeholder="Please enter your last name"  formControlName="last_name" required>
                        <mat-icon matSuffix>account_circle</mat-icon>
                    </mat-form-field></div>
            </div>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Please enter your email"  formControlName="email" required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Mobile Number</mat-label>
                <span matPrefix>+91 &nbsp;</span>
                <input type="tel" matInput placeholder="Enter your mobile number"  formControlName="mob_no" required>
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" >
                <mat-label>Create Password</mat-label>
                <input [type]="passwordType" matInput placeholder="Create your password" formControlName="password" required>
                <mat-icon matSuffix *ngIf="isVisiable==false" (click)="showPassword()">visibility</mat-icon>
                <mat-icon matSuffix *ngIf="isVisiable==true" (click)="hidePassword()">visibility_off</mat-icon>
                <mat-hint>Password should contain atleast 8 charecters.Must have 1 Uppercase, 1 lowercase, 1 number and 1 special charecter </mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput placeholder="Confirm your password" (input)="onValueChange($event)" required>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="float-end p-4">
        <button class="primary" mat-button (click)="closeModal()">Cancel</button>
        <button class="primary" mat-raised-button color="primary" (click)="userResistration()" [disabled]="registrationForm.invalid">Register</button>
    </mat-dialog-actions>
</ng-container>