<ng-container>
    <mat-card class="mat-dialog-modal-header-card" style="height:60px;">
        <mat-card-title class="mat-card-title ">
            <h4>Login</h4>
        </mat-card-title>
    </mat-card><br>
    <mat-dialog-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Please enter your email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input [type]="passwordType" matInput placeholder="Please enter your password">
                <mat-icon matSuffix *ngIf="isVisiable==false" (click)="showPassword()">visibility</mat-icon>
                <mat-icon matSuffix *ngIf="isVisiable==true" (click)="hidePassword()">visibility_off</mat-icon>
            </mat-form-field>
        </form>
        <p>Not a member? <a href="javascript:void(0)" (click)="openRegistrationModal()" >Register</a></p>
    </mat-dialog-content>
    <mat-dialog-actions class="float-end p-4">
        <button class="primary" mat-button (click)="closeModal(false)">Cancel</button>
        <button class="primary" mat-raised-button color="primary" (click)="userLogin()">Login</button>
    </mat-dialog-actions>
</ng-container>