<ng-container>
    <mat-card class="mat-dialog-modal-header-card" style="height:60px;">
        <mat-card-title class="mat-card-title ">
            <h4>Add New Users Here!</h4>
        </mat-card-title>
    </mat-card><br>
    <mat-dialog-content>
        <form  [formGroup]="addUsersForm" class="example-form" >
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input type="name" matInput placeholder="Please enter your name" formControlName="name">
                <!-- <mat-icon matSuffix>email</mat-icon> -->
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Phone no</mat-label>
                <input type="number" matInput placeholder="Please enter your phone no" formControlName="phone_no">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>User ID</mat-label>
                <input type="name" matInput placeholder="Please enter your user ID" formControlName="user_id">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Please enter your password" formControlName="password">
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="float-end p-4">
        <button class="primary" mat-raised-button color="primary" (click)="addUsers()">Add</button>
        <button class="primary" mat-raised-button color="primary" (click)="closeModal()">Close</button>
    </mat-dialog-actions>
</ng-container>
