<div class="container" style="margin-bottom: 50px ;">
    <div class="row">
        <ng-container>
            <div class="col-4" *ngFor="let item of siteDetails">
                <mat-card class="mat-elevation-z4 mt-5 card card-bg">
                
                    <!-- <mat-card-header>
                        <div mat-card-avatar class="example-header-image">{{item}}</div>
                        <mat-card-title>{{item.project_name}}</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header> -->

                    <img mat-card-image src= "{{item.cover_image_url}}"
                        alt="site-image" class="card-img card-bg">
                    <mat-card-content class="content-body">
                        <!-- <mat-card-title class=""card-title>{{item.project_name}}</mat-card-title>
                        <p>
                            <button mat-button class="card-btn">Read more</button>
                        </p> -->
                        <div class="card-content | flow">
                            <div class="card-content--container | flow">
                                <h2 class="card-title">{{item.project_name}}</h2>
                                <p class="card-description">
                                    {{item.project_overview}}
                                </p>
                              </div>
                              <button mat-raised-button color="primary">Read more</button>
                            </div>
                    </mat-card-content>

                </mat-card>
            </div>
        </ng-container>
    </div>
</div>